.button {
    background-color: black;
    box-shadow: .3rem .3rem .5rem rgba(245, 245, 245, .3);
    padding: 5rem 10rem;
    font-size: 5rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}